<?php

return array(
    'modules' => array(
        'PaylineModule',
    ),
    'module_listener_options' => array(
        'config_glob_paths' => array(),
        'module_paths' => array(),
    ),
);