<?php

use PaylineModule\Utils\Env;

return [
    'payline' => [
        'merchantId'    => '',
        'accessKey'     => '',
        'contractNumber' => '',
        'proxyHost'     => '',
        'proxyPort'     => '',
        'proxyLogin'    => '',
        'proxyPassword' => '',
        'environment'    => Env::HOMO,
        'logPath'       => getcwd() . '/data/log/payline',
        'returnURL' => ['route' => 'home', ['action' => '']],
        'cancelURL' => ['route' => 'home', ['action' => '']],
        'notificationURL' => ['route' => 'home', ['action' => '']]
    ]
];
